@model IEnumerable<OrderVm>
@{
    ViewData["Title"] = "Billing";
}

@section Styles{
    <link href="~/css/user-profile.css" rel="stylesheet" />
}

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            @await Html.PartialAsync("_UserProfileSidebarPartial")
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <h3>All Orders:</h3>
                <hr />
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Created Date</th>
                        <th>Create Invoice</th>
                        <th>Download Invoice</th>
                    </tr>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.CreatedOn</td>
                            @if (order.InvoiceId.HasValue)
                            {
                                <td></td>
                                <td>
                                    <a class="btn btn-success"
                                       asp-controller="Billing" asp-action="DownloadInvoice"
                                       asp-route-invoiceId="@order.InvoiceId.Value">Download</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a class="btn btn-primary"
                                       asp-controller="Billing" asp-action="CreateInvoice"
                                       asp-route-orderId="@order.Id">Create Invoice</a>
                                </td>
                                <td></td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

