@model IEnumerable<OrderVm>
@{
    ViewData["Title"] = "Billing";
}

@section Styles{
    <link href="~/css/user-profile.css" rel="stylesheet" />
}

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/User.svg/1024px-User.svg.png" class="img-responsive" alt="User">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @User.Identity.Name
                    </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Account Settings
                            </a>
                        </li>
                        <li class="active">
                            <a>
                                <i class="glyphicon glyphicon-ok"></i>
                                Billing
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <h3>All Orders:</h3>
                <hr />
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Created Date</th>
                        <th>Create Invoice</th>
                        <th>Download Invoice</th>
                    </tr>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.CreatedOn</td>
                            @if (order.InvoiceId.HasValue)
                            {
                                <td></td>
                                <td><a class="btn btn-success"
                                       asp-controller="" asp-action="">Download</a></td>
                            }
                            else
                            {
                                <td><a class="btn btn-primary"
                                       asp-controller="Billing" asp-action="CreateInvoice" 
                                       asp-route-orderId="@order.Id">Create Invoice</a></td>
                                <td></td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

