@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="row">
        <div class="col-md-8 main-slider">
        </div>
        <div class="col-md-4 flex-box-container">
            <div class="top-product flex-item">
            </div>
            <div class="weekly-sale flex-item">
                <h1>Statement <span>T-Shirts!</span></h1>
                <p>Be Different!</p>
                <p>Be Soft-Unique!</p>
                <button><a asp-controller="Products" asp-action="Index">Shop now</a></button>
            </div>
        </div>
    </div>
    <section class="row services">
        <section class="col-xs-3 xol-sm-3 col-md-3 free-shipping">
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
                <div class="col-md-9">
                    <h1>Free Shipping</h1>
                    <p>Never happens</p>
                </div>
            </div>
        </section>
        <section class="col-xs-3 xol-sm-3 col-md-3 money-returns">
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
                <div class="col-md-9">
                    <h1>Money Returns</h1>
                    <p>Are strictly forbidden</p>
                </div>
            </div>
        </section>
        <section class="col-xs-3 xol-sm-3 col-md-3 support">
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-question" aria-hidden="true"></i>
                </div>
                <div class="col-md-9">
                    <h1>24/7 Support</h1>
                    <p>Hotline: (+359) 666</p>
                </div>
            </div>
        </section>
        <section class="col-xs-3 xol-sm-3 col-md-3 safe-payment">
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                </div>
                <div class="col-md-9">
                    <h1>Safe Payment</h1>
                    <p>Forget about it</p>
                </div>
            </div>
        </section>
    </section>
    <div class="row">
        <section class="col-md-12" id="tabs">
            <ul>
                <li><a class="tabs-a" href="#tabs-1">New Items</a></li>
                <li><a class="tabs-a" href="#tabs-2">On sale</a></li>
            </ul>
            <div id="tabs-1" class="recently-viewed-container">
                <ul class="col-md-12 col-sm-12 col-xs-12 recent-item-container">
                    <li class="recent-item new-item">
                        <article>
                            <div class="img-container col-md-12">
                                <div class="actions">
                                    <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                    <a href="pages/t-shirt-web-developers.html">
                                        <i class="fa fa-bars"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                                <a href="pages/t-shirt-web-developers.html">
                                    <img src="img/products/tshirts/tshirt-web-developers-style-white-1.jpg">
                                </a>
                                <div class="quickview">
                                    <a href="#">Quickview</a>
                                </div>
                            </div>
                            <a href="pages/t-shirt-web-developers.html">
                                <p class="item-type">T-shirts</p>
                                <div class="item-name">Web Developers Style T-Shirt</div>
                                <p class="item-rating">
                                    <span class="yellow">&starf;&starf;&starf;&starf;</span>&star;<span class="item-reviews">12 Review(s)</span>
                                </p>
                            </a>
                            <p class="item-price">
                                $22.95<a href="#">
                                    <i class="fa fa-cart-arrow-down"
                                       aria-hidden="true"></i>
                                </a>
                            </p>
                        </article>
                    </li>
                    <li class="recent-item new-item">
                        <article>
                            <div class="img-container col-md-12">
                                <div class="actions">
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-heart"
                                           aria-hidden="true"></i>
                                    </a>
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-bars"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                                <a class="fancybox" href="#nakov-forbids">
                                    <img src="~/images/products/gadgets/usb-cup-warmer-lcd.jpg">
                                </a>
                                <div class="quickview">
                                    <a class="fancybox" href="#nakov-forbids">Quickview</a>
                                </div>
                            </div>
                            <a class="fancybox" href="#nakov-forbids">
                                <p class="item-type">Gadgets</p>
                                <div class="item-name">USB Cup Warmer LCD</div>
                                <p class="item-rating">
                                    <span class="yellow">&starf;&starf;&starf;&starf;</span>&star;
                                    <span class="item-reviews">12 Review(s)</span>
                                </p>
                            </a>
                            <p class="item-price">
                                $29.95<a class="fancybox" href="#nakov-forbids">
                                    <i class="fa fa-cart-arrow-down"
                                       aria-hidden="true"></i>
                                </a>
                            </p>
                        </article>
                    </li>
                    <li class="recent-item new-item">
                        <article>
                            <div class="img-container col-md-12">
                                <div class="actions">
                                    <a href="pages/t-shirt-css-is-awesome.html">
                                        <i class="fa fa-heart"
                                           aria-hidden="true"></i>
                                    </a>
                                    <a href="pages/t-shirt-css-is-awesome.html">
                                        <i class="fa fa-bars"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                                <a href="pages/t-shirt-css-is-awesome.html">
                                    <img src="img/products/tshirts/tshirt-css-is-awesome-black-1.jpg">
                                </a>
                                <div class="quickview">
                                    <a href="#">Quickview</a>
                                </div>
                            </div>
                            <a href="pages/t-shirt-css-is-awesome.html">
                                <p class="item-type">T-shirts</p>
                                <div class="item-name">CSS Is Awesome T-Shirt</div>
                                <p class="item-rating">
                                    <span class="yellow">&starf;&starf;&starf;&starf;</span>&star;<span class="item-reviews">12 Review(s)</span>
                                </p>
                            </a>
                            <p class="item-price">
                                $22.95<a href="pages/t-shirt-css-is-awesome.html">
                                    <i class="fa fa-cart-arrow-down"
                                       aria-hidden="true"></i>
                                </a>
                            </p>
                        </article>
                    </li>
                    <li class="recent-item new-item">
                        <article>
                            <div class="img-container col-md-12">
                                <div class="actions">
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-heart"
                                           aria-hidden="true"></i>
                                    </a>
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-bars"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                                <a class="fancybox" href="#nakov-forbids">
                                    <img src="img/products/gadgets/micro-charger.jpg">
                                </a>
                                <div class="quickview">
                                    <a class="fancybox" href="#nakov-forbids">Quickview</a>
                                </div>
                            </div>
                            <a class="fancybox" href="#nakov-forbids">
                                <p class="item-type">Chargers</p>
                                <div class="item-name">Emergency Micro Charger</div>
                                <p class="item-rating">
                                    <span class="yellow">&starf;&starf;&starf;</span>&star;&star;<span class="item-reviews">12 Review(s)</span>
                                </p>
                            </a>
                            <p class="item-price">
                                195.95<a href="#">
                                    <i class="fa fa-cart-arrow-down"
                                       aria-hidden="true"></i>
                                </a>
                            </p>
                        </article>
                    </li>
                    <li class="recent-item new-item">
                        <article>
                            <div class="img-container col-md-12">
                                <div class="actions">
                                    <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-bars"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                                <a class="fancybox" href="#nakov-forbids">
                                    <img src="img/hats/nakov/nakov-hat-v1.png">
                                </a>
                                <div class="quickview">
                                    <a href="#">Quickview</a>
                                </div>
                            </div>
                            <a class="fancybox" href="#nakov-forbids">
                                <p class="item-type">Hats</p>
                                <div class="item-name">Nakov's Hat</div>
                                <p class="item-rating">
                                    <span class="yellow">&starf;&starf;&starf;&starf;&starf;</span><span class="item-reviews">12 Review(s)</span>
                                </p>
                            </a>
                            <p class="item-price">
                                $69.95<a href="#">
                                    <i class="fa fa-cart-arrow-down"
                                       aria-hidden="true"></i>
                                </a>
                            </p>
                        </article>
                    </li>
                </ul>
            </div>
            <div id="tabs-2" class="recently-viewed-container">
                <ul class="col-md-12 col-sm-12 col-xs-12 recent-item-container">
                    <li class="recent-item discount-item">
                        <article>
                            <div class="img-container col-md-12">
                                <div class="actions">
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-heart"
                                           aria-hidden="true"></i>
                                    </a>
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-bars"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                                <a class="fancybox" href="#nakov-forbids">
                                    <img src="img/Handtuch-Binaer.jpg">
                                </a>
                                <div class="quickview">
                                    <a class="fancybox" href="#nakov-forbids">Quickview</a>
                                </div>
                            </div>
                            <a class="fancybox" href="#nakov-forbids">
                                <p class="item-type">Towels</p>
                                <div class="item-name">Binary Bath Towel</div>
                                <p class="item-rating">
                                    <span class="yellow">&starf;&starf;&starf;&starf;&starf;</span><span class="item-reviews">12 Review(s)</span>
                                </p>
                            </a>
                            <p class="item-price">
                                <span class="new-price">$19.95</span><span class="old-price">$24.95</span><a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
                            </p>
                        </article>
                    </li>
                    <li class="recent-item discount-item">
                        <article>
                            <div class="img-container col-md-12">
                                <div class="actions">
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-heart"
                                           aria-hidden="true"></i>
                                    </a>
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-bars"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                                <a class="fancybox" href="#nakov-forbids">
                                    <img src="img/1226912269_retro_games_controller_01.jpg">
                                </a>
                                <div class="quickview">
                                    <a class="fancybox" href="#nakov-forbids">Quickview</a>
                                </div>
                            </div>
                            <a class="fancybox" href="#nakov-forbids">
                                <p class="item-type">Games</p>
                                <div class="item-name">Retro Games Controller</div>
                                <p class="item-rating">
                                    <span class="yellow">&starf;&starf;&starf;&starf;&starf;</span><span class="item-reviews">12 Review(s)</span>
                                </p>
                            </a>
                            <p class="item-price">
                                <span class="new-price">$24.95</span><span class="old-price">$37.95</span><a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
                            </p>
                        </article>
                    </li>
                    <li class="recent-item discount-item">
                        <article>
                            <div class="img-container col-md-12">
                                <div class="actions">
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-heart"
                                           aria-hidden="true"></i>
                                    </a>
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-bars"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                                <a class="fancybox" href="#nakov-forbids">
                                    <img src="~/images/149Binaeruhr_02.jpg">
                                </a>
                                <div class="quickview">
                                    <a class="fancybox" href="#nakov-forbids">Quickview</a>
                                </div>
                            </div>
                            <a class="fancybox" href="#nakov-forbids">
                                <p class="item-type">Clocks</p>
                                <div class="item-name">Binary Clock</div>
                                <p class="item-rating">
                                    <span class="yellow">&starf;&starf;&starf;&starf;&starf;</span><span class="item-reviews">12 Review(s)</span>
                                </p>
                            </a>
                            <p class="item-price">
                                <span class="new-price">$29.95</span><span class="old-price">$39.95</span><a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
                            </p>
                        </article>
                    </li>
                    <li class="recent-item discount-item">
                        <article>
                            <div class="img-container col-md-12">
                                <div class="actions">
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-heart"
                                           aria-hidden="true"></i>
                                    </a>
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-bars"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                                <a class="fancybox" href="#nakov-forbids">
                                    <img src="~/images/coffee-mug-css-is-awesome.jpg">
                                </a>
                                <div class="quickview">
                                    <a class="fancybox" href="#nakov-forbids">Quickview</a>
                                </div>
                            </div>
                            <a class="fancybox" href="#nakov-forbids">
                                <p class="item-type">Coffee Mug</p>
                                <div class="item-name">CSS Is Awesome Coffee Mug</div>
                                <p class="item-rating">
                                    <span class="yellow">&starf;&starf;&starf;&starf;&starf;</span><span class="item-reviews">12 Review(s)</span>
                                </p>
                            </a>
                            <p class="item-price">
                                <span class="new-price">$5.95</span><span class="old-price">$12.95</span><a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
                            </p>
                        </article>
                    </li>
                    <li class="recent-item discount-item">
                        <article>
                            <div class="img-container col-md-12">
                                <div class="actions">
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-heart"
                                           aria-hidden="true"></i>
                                    </a>
                                    <a class="fancybox" href="#nakov-forbids">
                                        <i class="fa fa-bars"
                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                                <a class="fancybox" href="#nakov-forbids">
                                    <img src="~/images/mouse-pad-bad-spelling.jpg">
                                </a>
                                <div class="quickview">
                                    <a class="fancybox" href="#nakov-forbids">Quickview</a>
                                </div>
                            </div>
                            <a class="fancybox" href="#nakov-forbids">
                                <p class="item-type">Mouse Pad</p>
                                <div class="item-name">Bad Spelling Mouse Pad</div>
                                <p class="item-rating">
                                    <span class="yellow">&starf;&starf;&starf;&starf;&starf;</span><span class="item-reviews">12 Review(s)</span>
                                </p>
                            </a>
                            <p class="item-price">
                                <span class="new-price">$7.95</span><span class="old-price">$9.95</span><a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
                            </p>
                        </article>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <section class="top-selling recently-viewed-container row">
        <div>
            <h1 class="top-selling-label">Top Selling of the Week</h1>
        </div>
        <ul class="recent-item-container">
            <li class="recent-item most-selling-item">
                <article>
                    <div class="img-container col-md-12">
                        <img src="~/images/homepage/no-place-like-ip.jpg">
                    </div>
                    <a href="#" class="details-btn">View Details</a>
                </article>
            </li>
            <li class="recent-item">
                <article>
                    <div class="img-container col-md-12">
                        <div class="actions">
                            <a class="fancybox" href="#nakov-forbids"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a class="fancybox" href="#nakov-forbids">
                                <i class="fa fa-bars"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <a class="fancybox" href="#nakov-forbids">
                            <img src="~/images/products/tshirts/tshirt-it-guy-cardinal-1.jpg">
                        </a>
                        <div class="quickview">
                            <a href="#">Quickview</a>
                        </div>
                    </div>
                    <a class="fancybox" href="#nakov-forbids">
                        <p class="item-type">T-shirts</p>
                        <div class="item-name">The IT Guy T-Shirt</div>
                        <p class="item-rating">
                            <span class="yellow">&starf;&starf;&starf;&starf;</span>&star;<span class="item-reviews">12 Review(s)</span>
                        </p>
                    </a>
                    <p class="item-price">
                        $22.95<a href="#">
                            <i class="fa fa-cart-arrow-down"
                               aria-hidden="true"></i>
                        </a>
                    </p>
                </article>
            </li>
            <li class="recent-item">
                <article>
                    <div class="img-container col-md-12">
                        <div class="actions">
                            <a class="fancybox" href="#nakov-forbids"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a class="fancybox" href="#nakov-forbids">
                                <i class="fa fa-bars"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <a class="fancybox" href="#nakov-forbids">
                            <img src="~/images/tshirt-important-1.jpg">
                        </a>
                        <div class="quickview">
                            <a href="#">Quickview</a>
                        </div>
                    </div>
                    <a class="fancybox" href="#nakov-forbids">
                        <p class="item-type">T-shirts</p>
                        <div class="item-name">!important T-Shirt</div>
                        <p class="item-rating">
                            <span class="yellow">&starf;&starf;&starf;&starf;&starf;</span><span class="item-reviews">9 Review(s)</span>
                        </p>
                    </a>
                    <p class="item-price">
                        $22.95<a href="#">
                            <i class="fa fa-cart-arrow-down"
                               aria-hidden="true"></i>
                        </a>
                    </p>
                </article>
            </li>
            <li class="recent-item new-item">
                <article>
                    <div class="img-container col-md-12">
                        <div class="actions">
                            <a class="fancybox" href="#nakov-forbids"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a class="fancybox" href="#nakov-forbids">
                                <i class="fa fa-bars"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <a class="fancybox" href="#nakov-forbids">
                            <img src="~/images/products/gadgets/binary-wrist-watch.jpg">
                        </a>
                        <div class="quickview">
                            <a href="#">Quickview</a>
                        </div>
                    </div>
                    <a class="fancybox" href="#nakov-forbids">
                        <p class="item-type">Clocks</p>
                        <div class="item-name">Binary Wrist Watch</div>
                        <p class="item-rating">
                            <span class="yellow">&starf;&starf;&starf;&starf;&starf;</span><span class="item-reviews">7 Review(s)</span>
                        </p>
                    </a>
                    <p class="item-price">
                        $21.95<a href="#">
                            <i class="fa fa-cart-arrow-down"
                               aria-hidden="true"></i>
                        </a>
                    </p>
                </article>
            </li>
        </ul>
        <ul class="recent-item-container">
            <li class="recent-item">
                <article>
                    <div class="img-container col-md-12">
                        <div class="actions">
                            <a class="fancybox" href="#nakov-forbids"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a class="fancybox" href="#nakov-forbids">
                                <i class="fa fa-bars"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <a class="fancybox" href="#nakov-forbids">
                            <img src="~/images/key-ring-evolution.jpg">
                        </a>
                        <div class="quickview">
                            <a href="#">Quickview</a>
                        </div>
                    </div>
                    <a class="fancybox" href="#nakov-forbids">
                        <p class="item-type">Key Rings</p>
                        <div class="item-name">Evolution Key Ring</div>
                        <p class="item-rating">
                            <span class="yellow">&starf;&starf;&starf;</span>&star;&star;<span class="item-reviews">5 Review(s)</span>
                        </p>
                    </a>
                    <p class="item-price">
                        $5.95<a href="#">
                            <i class="fa fa-cart-arrow-down"
                               aria-hidden="true"></i>
                        </a>
                    </p>
                </article>
            </li>
            <li class="recent-item">
                <article>
                    <div class="img-container col-md-12">
                        <div class="actions">
                            <a class="fancybox" href="#nakov-forbids"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a class="fancybox" href="#nakov-forbids">
                                <i class="fa fa-bars"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <a class="fancybox" href="#nakov-forbids">
                            <img src="~/images/tshirt-div-1.jpg">
                        </a>
                        <div class="quickview">
                            <a href="#">Quickview</a>
                        </div>
                    </div>
                    <a class="fancybox" href="#nakov-forbids">
                        <p class="item-type">T-shirts</p>
                        <div class="item-name">DIV ID T-Shirt</div>
                        <p class="item-rating">
                            <span class="yellow">&starf;&starf;&starf;&starf;&starf;</span><span class="item-reviews">18 Review(s)</span>
                        </p>
                    </a>
                    <p class="item-price">
                        $22.95<a href="#">
                            <i class="fa fa-cart-arrow-down"
                               aria-hidden="true"></i>
                        </a>
                    </p>
                </article>
            </li>
            <li class="recent-item">
                <article>
                    <div class="img-container col-md-12">
                        <div class="actions">
                            <a class="fancybox" href="#nakov-forbids"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a class="fancybox" href="#nakov-forbids">
                                <i class="fa fa-bars"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <a class="fancybox" href="#nakov-forbids">
                            <img src="~/images/6926CSS-ninja.jpg">
                        </a>
                        <div class="quickview">
                            <a href="#">Quickview</a>
                        </div>
                    </div>
                    <a class="fancybox" href="#nakov-forbids">
                        <p class="item-type">T-shirts</p>
                        <div class="item-name">Ninja T-Shirt</div>
                        <p class="item-rating">
                            <span class="yellow">&starf;&starf;&starf;&starf;&starf;</span><span class="item-reviews">6 Review(s)</span>
                        </p>
                    </a>
                    <p class="item-price">
                        $22.95<a href="#">
                            <i class="fa fa-cart-arrow-down"
                               aria-hidden="true"></i>
                        </a>
                    </p>
                </article>
            </li>
            <li class="recent-item">
                <article>
                    <div class="img-container col-md-12">
                        <div class="actions">
                            <a class="fancybox" href="#nakov-forbids"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a class="fancybox" href="#nakov-forbids">
                                <i class="fa fa-bars"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <a class="fancybox" href="#nakov-forbids">
                            <img src="~/images/products/tshirts/tshirt-no-internet-green-1.jpg" alt="">
                        </a>
                        <div class="quickview">
                            <a href="#">Quickview</a>
                        </div>
                    </div>
                    <a class="fancybox" href="#nakov-forbids">
                        <p class="item-type">T-shirts</p>
                        <div class="item-name">No Internet T-Shirt</div>
                        <p class="item-rating">
                            <span class="yellow">&starf;&starf;&starf;&starf;</span>&star;<span class="item-reviews">9 Review(s)</span>
                        </p>
                    </a>
                    <p class="item-price">
                        $22.95<a href="#">
                            <i class="fa fa-cart-arrow-down"
                               aria-hidden="true"></i>
                        </a>
                    </p>
                </article>
            </li>
            <li class="recent-item">
                <article>
                    <div class="img-container col-md-12">
                        <div class="actions">
                            <a class="fancybox" href="#nakov-forbids"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a class="fancybox" href="#nakov-forbids">
                                <i class="fa fa-bars"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <a class="fancybox" href="#nakov-forbids">
                            <img src="~/images/products/hats/hat-head-tag-black-and-white.jpg">
                        </a>
                        <div class="quickview">
                            <a href="#">Quickview</a>
                        </div>
                    </div>
                    <a class="fancybox" href="#nakov-forbids">
                        <p class="item-type">Hats</p>
                        <div class="item-name">&lt;head&gt; Hat</div>
                        <p class="item-rating">
                            <span class="yellow">&starf;&starf;&starf;&starf;</span>&star;<span class="item-reviews">7 Review(s)</span>
                        </p>
                    </a>
                    <p class="item-price">
                        $12.95<a href="#">
                            <i class="fa fa-cart-arrow-down"
                               aria-hidden="true"></i>
                        </a>
                    </p>
                </article>
            </li>
        </ul>
    </section>
    <div class="row">
        <section class="from-blog">
            <div>
                <div class="col-md-12 from-blog-label">
                    <h1>From Our Blog</h1>
                </div>
            </div>
            <div class="row">
                <article class="col-md-4">
                    <div class="blog-post-container">
                        <a href="#"><img src="~/images/blog/blog-post1.jpg" alt="blog post image" /></a>
                        <p class="blog-post-comments-date">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i> 14
                            March, 2017
                            <i class="fa fa-comment-o" aria-hidden="true"></i> 6 Comments
                        </p>
                        <h1>Who’s Ready for Pi Day [2017]?</h1>
                        <p class="blog-post-comments">
                            On Saturday, March 14, 2017, we are going to celebrate what
                            may very well be the biggest geek holiday of the year. Or the decade. [...]
                        </p>
                        <a href="http://www.forevergeek.com/2017/03/whos-ready-for-pi-day-2015/">Read more...</a>
                    </div>
                </article>
                <article class="col-md-4">
                    <div class="blog-post-container">
                        <a href="#"><img src="~/images/blog/blog-post2.jpg" alt="blog post image" /></a>
                        <p class="blog-post-comments-date">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i> 6
                            March, 2017
                            <i class="fa fa-comment-o" aria-hidden="true"></i> 11 Comments
                        </p>
                        <h1>The Evolution of Link</h1>
                        <p class="blog-post-comments">
                            The Nintendo Switch has got us excited although it’s far from
                            perfect (what console is, anyway?). And, as Kotaku says [...]
                        </p>
                        <a href="http://www.forevergeek.com/2017/03/evolution-of-link/">Read more...</a>
                    </div>
                </article>
                <article class="col-md-4">
                    <div class="blog-post-container">
                        <a href="#"><img src="~/images/blog/blog-post3.jpg" alt="blog post image" /></a>
                        <p class="blog-post-comments-date">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i> 8
                            March, 2017
                            <i class="fa fa-comment-o" aria-hidden="true"></i> 13 Comments
                        </p>
                        <h1>Minimize Lag</h1>
                        <p class="blog-post-comments">
                            A computer that lags, runs slow, or frequently encounters
                            hiccups/freezing is more than just frustrating[...]
                        </p>
                        <a href="http://www.forevergeek.com/2017/03/3-simple-things-can-minimize-lag/">
                            Read
                            more...
                        </a>
                    </div>
                </article>
            </div>
        </section>
    </div>
</main>
