
@{
    ViewData["Title"] = "Index";
}

<section class="from-blog">
    <div>
        <div class="col-md-12 from-blog-label">
            <h1>Our Blog</h1>
        </div>
    </div>
    <div class="row">
        <article class="col-md-4">
            <div class="blog-post-container">
                <a href="#"><img src="~/images/blog/blog-post1.jpg" alt="blog post image" /></a>
                <p class="blog-post-comments-date">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i> 14
                    March, 2017
                    <i class="fa fa-comment-o" aria-hidden="true"></i> 6 Comments
                </p>
                <h1>Who’s Ready for Pi Day [2017]?</h1>
                <p class="blog-post-comments">
                    On Saturday, March 14, 2017, we are going to celebrate what
                    may very well be the biggest geek holiday of the year. Or the decade. [...]
                </p>
                <a href="http://www.forevergeek.com/2017/03/whos-ready-for-pi-day-2015/">Read more...</a>
            </div>
                            <a href="#" class="btn btn-lg btn-warning">Edit</a>
                <a href="#" class="btn btn-lg btn-danger">Delete</a>
        </article>
        <article class="col-md-4">
            <div class="blog-post-container">
                <a href="#"><img src="~/images/blog/blog-post2.jpg" alt="blog post image" /></a>
                <p class="blog-post-comments-date">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i> 6
                    March, 2017
                    <i class="fa fa-comment-o" aria-hidden="true"></i> 11 Comments
                </p>
                <h1>The Evolution of Link</h1>
                <p class="blog-post-comments">
                    The Nintendo Switch has got us excited although it’s far from
                    perfect (what console is, anyway?). And, as Kotaku says [...]
                </p>
                <a href="http://www.forevergeek.com/2017/03/evolution-of-link/">Read more...</a>
            </div>
            <a href="#" class="btn btn-lg btn-warning">Edit</a>
            <a href="#" class="btn btn-lg btn-danger">Delete</a>
        </article>
        <article class="col-md-4">
            <div class="blog-post-container">
                <a href="#"><img src="~/images/blog/blog-post3.jpg" alt="blog post image" /></a>
                <p class="blog-post-comments-date">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i> 8
                    March, 2017
                    <i class="fa fa-comment-o" aria-hidden="true"></i> 13 Comments
                </p>
                <h1>Minimize Lag</h1>
                <p class="blog-post-comments">
                    A computer that lags, runs slow, or frequently encounters
                    hiccups/freezing is more than just frustrating[...]
                </p>
                <a href="http://www.forevergeek.com/2017/03/3-simple-things-can-minimize-lag/">
                    Read
                    more...
                </a>
            </div>
            <a href="#" class="btn btn-lg btn-warning">Edit</a>
            <a href="#" class="btn btn-lg btn-danger">Delete</a>
        </article>
    </div>
</section>

