@model OrderVm

<main>
    <section class="row">
        <ul id="steps" class="col-md-12">
            <li class="col-md-3 col-sm-3 col-xs-12">
                <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                <span>Step 1</span>
                <h5>Shopping Cart</h5>
            </li>
            <li class="col-md-3 col-sm-3 col-xs-12">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                <span>Step 2</span>
                <h5>Payment Methods</h5>
            </li>
            <li class="col-md-3 col-sm-3 col-xs-12 current">
                <i class="fa fa-truck" aria-hidden="true"></i>
                <span>Step 3</span>
                <h5>Delivery Methods</h5>
            </li>
            <li class="col-md-3 col-sm-3 col-xs-12">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>Step 4</span>
                <h5>Confirmation</h5>
            </li>
        </ul>
    </section>
    <section class="row">
        <div class="col-md-8">
            <h1>Your Information</h1>
            <hr />
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>First name</p>
                    <input type="text" asp-for="FirstName" required />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>Last name</p>
                    <input type="text" asp-for="LastName" required />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <p>Country</p>
                    <input type="text" asp-for="Country" required />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <p>City</p>
                    <input type="text" asp-for="City" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>State</p>
                    <input type="text" asp-for="State" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <p>ZIP</p>
                    <input type="text" asp-for="Zip" required />
                </div>
                <div class="col-md-7  col-sm-7 col-xs-12">
                    <p>Address</p>
                    <input type="text" asp-for="Address" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>Phone</p>
                    <input type="text" asp-for="Phone" required />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>Email</p>
                    <input type="email" asp-for="Email" required />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <h1>Select Your Transportation</h1>
            <hr />
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-3">
                    <div class="transport-container">
                        <h2>Free delivery</h2>
                        <p>7-12 Days</p>
                    </div>
                </div>
                <div class="col-md-6  col-sm-6 col-xs-3">
                    <div class="transport-container fast-delivery">
                        <h2>Fast delivery</h2>
                        <p>4-7 Days</p>
                        <h1 class="extra-price-delivery">+25$</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="transport-container express-delivery">
                        <h2>Express delivery</h2>
                        <p>24-48 Hours</p>
                        <h1 class="extra-price-delivery">+75$</h1>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="row">
        <div id="buttons" class="col-md-12 col-sm-12 col-xs-12">
            <a href="payment-methods.html">Back to Payment</a>
            <button type="submit">Go Confirmation</button>
        </div>
    </section>
</main>
