@model ChangePasswordVm
@{
    ViewData["Title"] = "Change Password";
}

@section Styles{
    <link href="~/css/user-profile.css" rel="stylesheet" />
}

@* ---------- Params for error ---------- *@
@await Html.PartialAsync("_ErrorParamsPartial")
@await Html.PartialAsync("_ErrorDialogPartial")

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/User.svg/1024px-User.svg.png" class="img-responsive" alt="User">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @User.Identity.Name
                    </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a asp-controller="Users" asp-action="Profile">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Account Settings
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="glyphicon glyphicon-ok"></i>
                                Billing
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
                    <h4>Change Password Form</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OldPassword" class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Change password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await this.Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/error.js" asp-append-version="true"></script>
}