@model ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create New Product</h2>

<hr />
            <div class="form-group">
<div class="container container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Base64Image" class="control-label"></label>
                    <input asp-for="Base64Image" class="form-control" />
                    <span asp-validation-for="Base64Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Size" class="control-label"></label>
                    <select asp-for="Size" class="form-control"
                            asp-items="Html.GetEnumSelectList(typeof (Size))"></select>
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Size" class="form-control"
                            asp-items="Html.GetEnumSelectList(typeof (ProductType))"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Details" class="control-label"></label>
                    <input asp-for="Details" class="form-control" />
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-lg btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn bg-primary">Back to List</a>
    </div>
</div>

