
@{
    ViewData["Title"] = "Index";
}

<div class="container container-fluid">
    <div class="col-md-6 col-lg-offset-3">
        <div class="jumbotron">
            <h2 class="text-center">Chat Bot</h2>
        </div>
        <iframe src="https://webchat.botframework.com/embed/softunikumcb?s=Zl3MaKY1tnE.cwA.64k.09cQSa8lEuGr7cJG1XlPsWHBtA58KnsCl5cwK6h3Qro"
                style="min-width: 400px; width: 100%; min-height: 500px;"></iframe>
    </div>
</div>
