@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Products";
}

<main class="row">
    <p><span>Home &rsaquo; </span>@ViewBag.Title</p>

    <aside class="col-md-3 col-sm-12 col-xs-12 row">
        <div id="categories" class="col-md-12 col-sm-4 col-xs-6">
            <h4>Categories</h4>
            <ul>
                <li>
                    <label for="all-t-shirts">
                        <input type="checkbox" id="all-t-shirts" name="all-t-shirts"
                        checked="checked">All T-shirts
                    </label>
                </li>
                <li>
                    <label for="t-shirts-for-men">
                        <input type="checkbox" id="t-shirts-for-men"
                        name="t-shirts-for-men">T-shirts for Men
                    </label>
                </li>
                <li>
                    <label for="t-shirts-for-women">
                        <input type="checkbox" id="t-shirts-for-women"
                        name="t-shirts-for-women">T-shirts for Women
                    </label>
                </li>
                <li>
                    <label for="css-t-shirts">
                        <input type="checkbox" id="css-t-shirts" name="css-t-shirts">CSS
                        T-shirts
                    </label>
                </li>
                <li>
                    <label for="html-t-shirts">
                        <input type="checkbox" id="html-t-shirts" name="html-t-shirts">HTML
                        T-shirts
                    </label>
                </li>
        </div>
        <div id="price" class="col-md-12 col-sm-4 col-xs-6">
            <h4>Price</h4>
            <div id="slider-range"></div>
            <input type="text" id="amount" readonly>
        </div>
        <button id="filter" class="col-md-4 col-sm-2 col-xs-3">Filter</button>
        <div id="rating" class="col-md-12 col-sm-4 col-xs-6">
            <h4>Rating</h4>
            <p class="rating">
                <span class="yellow">&starf;&starf;&starf;&starf;&starf;</span><span class="rating-count">(25)</span>
            </p>
            <p class="rating">
                <span class="yellow">&starf;&starf;&starf;&starf;</span>&star;<span class="rating-count">(48)</span>
            </p>
            <p class="rating">
                <span class="yellow">&starf;&starf;&starf;</span>&star;&star;<span class="rating-count">(18)</span>
            </p>
            <p class="rating">
                <span class="yellow">&starf;&starf;</span>&star;&star;&star;<span class="rating-count">(8)</span>
            </p>
            <p class="rating">
                <span class="yellow">&starf;</span>&star;&star;&star;&star;<span class="rating-count">(3)</span>
            </p>
        </div>
        <div id="size" class="col-md-12 col-sm-4 col-xs-6">
            <h4>Size</h4>
            <span class="size">S</span>
            <span class="size selected">M</span>
            <span class="size">L</span>
            <span class="size">XL</span>
        </div>
        <div id="colors" class="col-md-12 col-sm-4 col-xs-6">
            <h4>Color</h4>
            <ul>
                <li>
                    <label for="red"><input type="checkbox" id="red" name="red">Red</label><span>(18)</span>
                </li>
                <li>
                    <label for="yellow">
                        <input type="checkbox" id="yellow"
                        name="yellow">Yellow
                    </label><span>(9)</span>
                </li>
                <li>
                    <label for="black">
                        <input type="checkbox" id="black"
                        name="black">Black
                    </label><span>(24)</span>
                </li>
                <li>
                    <label for="blue"><input type="checkbox" id="blue" name="blue">Blue</label><span>(17)</span>
                </li>
                <li>
                    <label for="grey"><input type="checkbox" id="grey" name="grey">Grey</label><span>(22)</span>
                </li>
                <li>
                    <label for="pink"><input type="checkbox" id="pink" name="pink">Pink</label><span>(5)</span>
                </li>
                <li>
                    <label for="white">
                        <input type="checkbox" id="white"
                        name="white">White
                    </label><span>(8)</span>
                </li>
                <li>
                    <label for="green">
                        <input type="checkbox" id="green"
                        name="green">Green
                    </label><span>(10)</span>
                </li>
            </ul>
            <a href="#">+ See more</a>
        </div>
    </aside>

</main>